<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssum.android09intent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- mainActivity -->
        <activity android:name=".MainActivity">
            <intent-filter>

                <!-- 가장먼저 보여지는 화면 -->
                <action android:name="android.intent.action.MAIN" />
                <!-- 아래는 아이콘을 생성하는 명령어입니다. -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- insertActivity -->
        <activity android:name=".InsertActivity"></activity>
        <activity android:name=".ListViewActivity"></activity>
    </application>

</manifest>